#  数据加载、存储与文件格式

In [1]:
!cat ch06/ex1.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [2]:
from pandas import DataFrame, Series
import pandas as pd
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [3]:
df = pd.read_csv('ch06/ex1.csv')

In [4]:
df # 默认第一章作为columns

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [5]:
# 我们也可以使用read_table，不过需要指定分隔符
pd.read_table('ch06/ex1.csv', sep=',')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [8]:
!cat ch06/ex2.csv

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [9]:
# 可以让pandas为其分配默认的列名字，也可以自己定义列名
pd.read_csv('ch06/ex2.csv', header=None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [10]:
pd.read_csv('ch06/ex2.csv', names=['a','b','c','d','message'])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [11]:
# 假设希望将message列做成DataFrame的索引，可以明确表示将该列放到索引4的位置上。也可以通过index_col参数指定“message”
names = ['a','b','c','d','message']
pd.read_csv('ch06/ex2.csv', names=names, index_col='message')

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [12]:
# 如果希望将多个列做成一个层次化索引，只需要传入由列编号或列名组成的列表即可

In [13]:
!cat ch06/csv_mindex.csv

key1,key2,value1,value2
one,a,1,2
one,b,3,4
one,c,5,6
one,d,7,8
two,a,9,10
two,b,11,12
two,c,13,14
two,d,15,16

In [14]:
parsed = pd.read_csv('ch06/csv_mindex.csv', index_col=['key1','key2'])

In [15]:
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [16]:
# 对于不是固定的分隔符来分割字段的，可以编写正则表达式来作为read_table的分隔符

In [17]:
list(open('ch06/ex3.txt'))

['            A         B         C\n',
 'aaa -0.264438 -1.026059 -0.619500\n',
 'bbb  0.927272  0.302904 -0.032399\n',
 'ccc -0.264273 -0.386314 -0.217601\n',
 'ddd -0.871858 -0.348382  1.100491\n']

In [18]:
result = pd.read_table('ch06/ex3.txt', sep='\s+')

In [19]:
result

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [20]:
# skiprows可以跳过文件的第一行、第三行、第四行等

In [21]:
!cat ch06/ex4.csv

# hey!
a,b,c,d,message
# just wanted to make things more difficult for you
# who reads CSV files with computers, anyway?
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [22]:
pd.read_csv('ch06/ex4.csv',skiprows=[0,2,3])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

#### 对于缺失值，默认情况下，pandas会用一组经常出现的标记值进行识别，如NA，-1，#IND以及NULL等

In [23]:
!cat ch06/ex5.csv

something,a,b,c,d,message
one,1,2,3,4,NA
two,5,6,,8,world
three,9,10,11,12,foo

In [25]:
result = pd.read_csv('ch06/ex5.csv')

In [26]:
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [28]:
pd.isnull(result)

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

In [29]:
# na_values 可以接受一组用于表示缺失值的字符串

In [30]:
result = pd.read_csv('ch06/ex5.csv', na_values=['NULL'])

In [32]:
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [33]:
# 可以用一个字典为各列指定不同的NA标记值
sentinels = {'message':['foo','NA'], 'something':['two']}

In [34]:
pd.read_csv('ch06/ex5.csv', na_values=sentinels)

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       NaN  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

### 逐块读取文本文件

####  在处理很大文件的时候，或者找出大文件中的参数以便于后续处理的时候，可能只想读出文件的一部分或者逐块对文件进行迭代

In [35]:
result = pd.read_csv('ch06/ex6.csv')

In [36]:
result

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
5     1.817480  0.742273  0.419395 -2.251035   Q
6    -0.776764  0.935518 -0.332872 -1.875641   U
7    -0.913135  1.530624 -0.572657  0.477252   K
8     0.358480 -0.497572 -0.367016  0.507702   S
9    -1.740877 -1.160417 -1.637830  2.172201   G
10    0.240564 -0.328249  1.252155  1.072796   8
11    0.764018  1.165476 -0.639544  1.495258   R
12    0.571035 -0.310537  0.582437 -0.298765   1
13    2.317658  0.430710 -1.334216  0.199679   P
14    1.547771 -1.119753 -2.277634  0.329586   J
15   -1.310608  0.401719 -1.000987  1.156708   E
16   -0.088496  0.634712  0.153324  0.415335   B
17   -0.018663 -0.247487 -1.446522  0.750938   A
18   -0.070127 -1.579097  0.120892  0.671432   F
19   -0.194678 -0.492039  2.359605  0.319810   H
20   -0.248618  0.868707 -0.492226 -0.717959   W
21   -1.091549 -0.867110 -0.647760 -0.832562   C
22    0.641404 -0.138822 -0.621963 -0.284839   C
23    1.216408  0.992687  0.165162 -0.069619   V
24   -0.564474  0.792832  0.747053  0.571675   I
25    1.759879 -0.515666 -0.230481  1.362317   S
26    0.126266  0.309281  0.382820 -0.239199   L
27    1.334360 -0.100152 -0.840731 -0.643967   6
28   -0.737620  0.278087 -0.053235 -0.950972   J
29   -1.148486 -0.986292 -0.144963  0.124362   Y
...        ...       ...       ...       ...  ..
9970  0.633495 -0.186524  0.927627  0.143164   4
9971  0.308636 -0.112857  0.762842 -1.072977   1
9972 -1.627051 -0.978151  0.154745 -1.229037   Z
9973  0.314847  0.097989  0.199608  0.955193   P
9974  1.666907  0.992005  0.496128 -0.686391   S
9975  0.010603  0.708540 -1.258711  0.226541   K
9976  0.118693 -0.714455 -0.501342 -0.254764   K
9977  0.302616 -2.011527 -0.628085  0.768827   H
9978 -0.098572  1.769086 -0.215027 -0.053076   A
9979 -0.019058  1.964994  0.738538 -0.883776   F
9980 -0.595349  0.001781 -1.423355 -1.458477   M
9981  1.392170 -1.396560 -1.425306 -0.847535   H
9982 -0.896029 -0.152287  1.924483  0.365184   6
9983 -2.274642 -0.901874  1.500352  0.996541   N
9984 -0.301898  1.019906  1.102160  2.624526   I
9985 -2.548389 -0.585374  1.496201 -0.718815   D
9986 -0.064588  0.759292 -1.568415 -0.420933   E
9987 -0.143365 -1.111760 -1.815581  0.435274   2
9988 -0.070412 -1.055921  0.338017 -0.440763   X
9989  0.649148  0.994273 -1.384227  0.485120   Q
9990 -0.370769  0.404356 -1.051628 -1.050899   8
9991 -0.409980  0.155627 -0.818990  1.277350   W
9992  0.301214 -1.111203  0.668258  0.671922   A
9993  1.821117  0.416445  0.173874  0.505118   X
9994  0.068804  1.322759  0.802346  0.223618   H
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

####  如果只想读取几行，避免读取整个文件，通过nrows进行指定即可

In [37]:
pd.read_csv('ch06/ex6.csv', nrows=5)

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

#### 要逐块读取文件，需要设置chunksize（行数）

In [38]:
chunker = pd.read_csv('ch06/ex6.csv', chunksize=1000)

In [39]:
chunker

#### 返回的TextParser对象可以使你根据chunsize对文件进行逐块迭代。
#### 比如我们可以迭代ex6.csv，将值计数聚合到“key”列中

In [127]:
global tot

In [128]:
tot = Series([])
for piece in chunker:
    tot = tot.append(piece['key'].value_counts(), fill_value=0)

In [129]:
tot[:10]

Series([], dtype: float64)

In [115]:
a = Series([1])

In [116]:
b = Series([2
           ])

In [117]:
a.add(b)

0    3
dtype: int64

In [118]:
a+b

0    3
dtype: int64

In [119]:
a.append(b)

0    1
0    2
dtype: int64

### 将数据写出到文本格式

In [145]:
data = pd.read_csv('ch06/ex5.csv')

In [146]:
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

#### 利用DataFrame的to_csv方法，我们可以将数据写到一个以逗号分隔的文件中

In [148]:
data.to_csv('ch06/out.csv')

In [149]:
!cat ch06/out.csv

,something,a,b,c,d,message
0,one,1,2,3.0,4,
1,two,5,6,,8,world
2,three,9,10,11.0,12,foo

In [151]:
data.to_csv(sys.stdout, sep='|')

|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo

#### 缺失值在输出结果中被表示为空字符串，也可以表示为其他的

In [152]:
data.to_csv(sys.stdout, na_rep='NULL')

,something,a,b,c,d,message
0,one,1,2,3.0,4,NULL
1,two,5,6,NULL,8,world
2,three,9,10,11.0,12,foo

#### 行和列的标签可以被禁用

In [153]:
data.to_csv(sys.stdout, index=False, header=False)

one,1,2,3.0,4,
two,5,6,,8,world
three,9,10,11.0,12,foo

#### `也可以只写出一部分的列，并以指定的顺序排列

In [155]:
data.to_csv(sys.stdout, index=False, columns=['a','b','c'])

a,b,c
1,2,3.0
5,6,
9,10,11.0

#### Series也有to_csv的方法

In [157]:
dates = pd.date_range('1/1/2000', periods=7)

In [158]:
dates

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05', '2000-01-06', '2000-01-07'],
              dtype='datetime64[ns]', freq='D')

In [159]:
ts = Series(np.arange(7), index=dates)

In [160]:
ts.to_csv('ch06/tseries.csv')

In [161]:
!cat ch06/tseries.csv

2000-01-01,0
2000-01-02,1
2000-01-03,2
2000-01-04,3
2000-01-05,4
2000-01-06,5
2000-01-07,6

In [162]:
Series.from_csv('ch06/tseries.csv', parse_dates=True)

2000-01-01    0
2000-01-02    1
2000-01-03    2
2000-01-04    3
2000-01-05    4
2000-01-06    5
2000-01-07    6
dtype: int64

### 手工处理分隔符格式

In [163]:
!cat ch06/ex7.csv

"a","b","c"
"1","2","3"
"1","2","3","4"

In [164]:
import csv
f = open('ch06/ex7.csv')
reader = csv.reader(f)

In [166]:
reader

In [167]:
# 对reader进行迭代，将会为每一行产生一个元祖，并移除所有的引号
for line in reader:
    print line

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3', '4']

In [168]:
# 很明显得到的是一个列表，而不是元祖

In [169]:
lines = list(csv.reader(open('ch06/ex7.csv')))

In [170]:
header, values = lines[0], lines[1:]

In [172]:
data_dict = {h : v for h,v in zip(header, zip(*values))}

In [173]:
data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

In [190]:
class my_dialect(csv.Dialect):
    lineterminator  = '\n'
    delimiter = ';'
    quotechar = '"'
    quoting = 0

In [191]:
with open('mydata.csv','w') as f:
    writer = csv.writer(f, dialect=my_dialect)
    writer.writerow(('one','two','three'))
    writer.writerow(('1','2','3'))
    writer.writerow(('4', '5', '6'))
    writer.writerow(('7', '8', '9'))

In [192]:
!cat mydata.csv

one;two;three
1;2;3
4;5;6
7;8;9

###  JSON数据

In [202]:
obj = """
{
    "name" : "Wes",
    "places_lived" : ["United states", "Spain", "Germany"],
    "pet" : null,
    "siblings" : [{"name" : "Scott", "age" :25, "pet" : "Zuko"},
                    {"name" : "Katie", "age" : 33, "pet" : "Cisco"}]
}
"""

In [203]:
import json

In [204]:
result = json.loads(obj)         # json.loads可将JSON字符串转换成Python形式

In [205]:
result

{u'name': u'Wes',
 u'pet': None,
 u'places_lived': [u'United states', u'Spain', u'Germany'],
 u'siblings': [{u'age': 25, u'name': u'Scott', u'pet': u'Zuko'},
  {u'age': 33, u'name': u'Katie', u'pet': u'Cisco'}]}

In [208]:
asjson = json.dumps(result)    # json.dumps将Python对象转换成JSON格式

In [207]:
asjson

'{"pet": null, "siblings": [{"pet": "Zuko", "age": 25, "name": "Scott"}, {"pet": "Cisco", "age": 33, "name": "Katie"}], "name": "Wes", "places_lived": ["United states", "Spain", "Germany"]}'

#### JSON转DataFrame

In [211]:
siblings = DataFrame(result['siblings'], columns=['name', 'age'])

In [212]:
siblings

    name  age
0  Scott   25
1  Katie   33

### XML和HTML： Web信息收集

In [213]:
from lxml.html import parse
from urllib2 import urlopen

In [218]:
parsed = parse(urlopen('https://finance.yahoo.com/quote/AAPL/options?ltr=1'))

In [219]:
doc = parsed.getroot()

In [220]:
links = doc.findall('.//a')

In [221]:
links[15:20]

[<Element a at 0xa6c6ae8>,
 <Element a at 0xa6c6b38>,
 <Element a at 0xa6c6b88>,
 <Element a at 0xa6c6bd8>,
 <Element a at 0xa6c6c28>]

In [222]:
lnk = links[28]

In [223]:
lnk

In [224]:
lnk.get('href')

'/quote/FB?p=FB'

In [225]:
lnk.text_content()

'FB'

In [227]:
urls = [lnk.get('href') for lnk in doc.findall('.//a')]

In [228]:
urls[-10:]

['https://smallbusiness.yahoo.com',
 'https://help.yahoo.com/kb/index?page=content&y=PROD_FIN_DESK&locale=en_US&id=SLN2310',
 'http://help.yahoo.com/l/us/yahoo/finance/',
 'https://yahoo.uservoice.com/forums/382977',
 'http://info.yahoo.com/privacy/us/yahoo/',
 'http://info.yahoo.com/relevantads/',
 'http://info.yahoo.com/legal/us/yahoo/utos/utos-173.html',
 'https://twitter.com/YahooFinance',
 'https://facebook.com/yahoofinance',
 'http://yahoofinance.tumblr.com']

In [229]:
tables = doc.findall('.//table')

In [231]:
tables

[<Element table at 0xa5fe408>,
 <Element table at 0xa5fe3b8>,
 <Element table at 0xa5fe458>]

In [232]:
calls = tables[2]

In [234]:
puts = tables[1]

In [235]:
rows = calls.findall('.//tr')

In [238]:
def _unpack(row, kind='td'):
    elts = row.findall('.//%s' % kind)
    return [val.text_content() for val in elts]

In [239]:
_unpack(rows[0], kind ='th')

['Contract Name',
 'Last Trade Date',
 'Strike',
 'Last Price',
 'Bid',
 'Ask',
 'Change',
 '% Change',
 'Volume',
 'Open Interest',
 'Implied Volatility']

In [240]:
_unpack(rows[1], kind='td')

['AAPL170714P00110000',
 '2017-06-09 11:48PM EDT',
 '110.00',
 '0.02',
 '0.00',
 '0.07',
 '0.00',
 '-',
 '3',
 '0',
 '95.31%']

In [241]:
from pandas.io.parsers import TextParser

In [242]:
def parse_options_data(table):
    rows = table.findall('.//tr')
    hearder = _unpack(rows[0], kind='th')
    data = [_unpack(r) for r in rows[1:]]
    return TextParser(data, name=header).get_chunk()

In [243]:
call_data = parse_options_data(calls)

In [244]:
put_data = parse_options_data(puts)

In [245]:
call_data

,AAPL170714P00110000,2017-06-09 11:48PM EDT,110.00,0.02,0.00,0.07,0.00.1,-,3,0,95.31%
0,AAPL170714P00115000,2017-06-30 3:47PM EDT,115.0,0.02,0.00,0.02,0.01,100.00%,70,874,70.31%
1,AAPL170714P00120000,2017-07-07 9:34AM EDT,120.0,0.02,0.00,0.01,0.01,100.00%,35,237,54.69%
2,AAPL170714P00123000,2017-07-07 11:45PM EDT,123.0,0.04,0.00,0.03,0.00,-,100,50,53.91%
3,AAPL170714P00124000,2017-07-07 11:45PM EDT,124.0,0.03,0.00,0.03,0.00,-,10,10,50.78%
4,AAPL170714P00125000,2017-07-07 3:55PM EDT,125.0,0.01,0.00,0.01,0.00,-,100,562,46.88%
5,AAPL170714P00126000,2017-07-05 10:01AM EDT,126.0,0.03,0.00,0.03,0.00,-,2,20,50.39%
6,AAPL170714P00127000,2017-07-07 11:45PM EDT,127.0,0.05,0.00,0.03,0.00,-,210,200,47.66%
7,AAPL170714P00128000,2017-07-07 9:30AM EDT,128.0,0.03,0.00,0.02,0.00,-,10,510,42.97%
8,AAPL170714P00129000,2017-07-06 2:42PM EDT,129.0,0.04,0.01,0.03,0.00,-,104,100,42.58%
9,AAPL170714P00130000,2017-07-07 3:53PM EDT,130.0,0.02,0.01,0.02,-0.04,-66.67%,137,"1,231",37.89%
10,AAPL170714P00131000,2017-07-07 11:20AM EDT,131.0,0.02,0.01,0.03,-0.03,-60.00%,210,417,37.50%
11,AAPL170714P00132000,2017-07-07 3:35PM EDT,132.0,0.03,0.02,0.03,-0.04,-57.14%,907,756,34.77%
12,AAPL170714P00133000,2017-07-07 3:52PM EDT,133.0,0.03,0.02,0.03,-0.05,-62.50%,943,485,32.23%
13,AAPL170714P00134000,2017-07-07 3:57PM EDT,134.0,0.03,0.02,0.04,-0.10,-76.92%,496,388,30.86%
14,AAPL170714P00135000,2017-07-07 3:51PM EDT,135.0,0.05,0.03,0.05,-0.11,-68.75%,484,"7,005",29.30%
15,AAPL170714P00136000,2017-07-07 3:49PM EDT,136.0,0.05,0.05,0.06,-0.15,-75.00%,608,907,27.34%
16,AAPL170714P00137000,2017-07-07 3:57PM EDT,137.0,0.07,0.06,0.08,-0.18,-72.00%,500,946,25.88%
17,AAPL170714P00138000,2017-07-07 3:49PM EDT,138.0,0.10,0.08,0.10,-0.24,-70.59%,698,"2,305",23.93%
18,AAPL170714P00139000,2017-07-07 3:59PM EDT,139.0,0.12,0.12,0.13,-0.39,-76.47%,"3,088","1,141",22.07%
19,AAPL170714P00140000,2017-07-07 3:59PM EDT,140.0,0.19,0.18,0.19,-0.42,-68.85%,"6,891","4,842",20.80%
20,AAPL170714P00141000,2017-07-07 3:56PM EDT,141.0,0.27,0.27,0.29,-0.62,-69.66%,"1,520","3,498",19.68%
21,AAPL170714P00142000,2017-07-07 3:59PM EDT,142.0,0.43,0.43,0.44,-0.77,-64.17%,"8,575","3,992",18.51%
22,AAPL170714P00143000,2017-07-07 3:59PM EDT,143.0,0.66,0.65,0.68,-0.93,-58.49%,"4,055","3,197",17.55%
23,AAPL170714P00144000,2017-07-07 3:59PM EDT,144.0,1.04,1.02,1.04,-1.06,-50.48%,"19,627","3,460",16.75%
24,AAPL170714P00145000,2017-07-07 3:59PM EDT,145.0,1.52,1.53,1.55,-1.31,-46.29%,"4,841","6,023",16.16%
25,AAPL170714P00146000,2017-07-07 3:50PM EDT,146.0,2.01,2.17,2.21,-1.51,-42.90%,"2,510","1,450",15.67%
26,AAPL170714P00147000,2017-07-07 3:59PM EDT,147.0,3.05,2.93,3.05,-1.33,-30.37%,282,724,16.46%
27,AAPL170714P00148000,2017-07-07 3:59PM EDT,148.0,3.93,3.80,3.95,-1.42,-26.54%,193,"1,194",17.09%
28,AAPL170714P00149000,2017-07-07 3:08PM EDT,149.0,4.78,4.70,4.90,-1.47,-23.52%,69,674,18.07%
29,AAPL170714P00150000,2017-07-07 3:14PM EDT,150.0,5.89,5.70,5.95,-1.48,-20.08%,315,"1,409",23.24%
30,AAPL170714P00152500,2017-07-07 3:41PM EDT,152.5,7.94,8.15,8.40,-1.89,-19.23%,128,502,27.64%
31,AAPL170714P00155000,2017-07-07 3:38PM EDT,155.0,10.50,10.40,10.95,-1.55,-12.86%,124,74,37.21%
32,AAPL170714P00157500,2017-07-07 9:54AM EDT,157.5,13.52,12.75,13.50,0.36,2.74%,7,149,46.48%
33,AAPL170714P00160000,2017-06-27 11:45AM EDT,160.0,14.25,15.55,16.25,0.00,-,2,85,64.16%
34,AAPL170714P00162500,2017-07-06 10:58AM EDT,162.5,19.85,17.85,18.60,0.00,-,1,21,64.55%
35,AAPL170714P00170000,2017-06-12 10:04AM EDT,170.0,26.32,24.30,25.10,10.82,69.81%,4,4,0.00%
36,AAPL170714P00172500,2017-06-12 10:04AM EDT,172.5,28.79,26.70,27.65,10.83,60.30%,4,4,0.00%

### 利用lxml.objectify解析XML

In [247]:
from lxml import objectify

path = 'ch06/mta_perf/Performance_MNR.xml'
parsed = objectify.parse(open(path))
root = parsed.getroot()

In [248]:
data = []
skip_fields = ['PARENT_REQ', 'INDICATOR_SEQ', "DESIRED_CHANGE", 'DECIMAL_PLACES']

In [253]:
# root.INDICATOR 返回一个用于产生各个<INDICATOR> XML元素的生成器
for elt in root.INDICATOR:
    el_data = {}
    for child in elt.getchildren():
        if child.tag in skip_fields:
            continue
        el_data[child.tag] = child.pyval
    data.append(el_data)

In [254]:
pref = DataFrame(data)

In [255]:
pref

,AGENCY_NAME,CATEGORY,DESCRIPTION,FREQUENCY,INDICATOR_NAME,INDICATOR_UNIT,MONTHLY_ACTUAL,MONTHLY_TARGET,PARENT_SEQ,PERIOD_MONTH,PERIOD_YEAR,YTD_ACTUAL,YTD_TARGET
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1266,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,94,,,7.0,2009.0,95.14,
1267,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,97,,,8.0,2009.0,95.38,
1268,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,98.3,,,9.0,2009.0,95.7,
1269,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,98.7,,,10.0,2009.0,96,
1270,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,98.1,,,11.0,2009.0,96.21,
1271,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,100,,,12.0,2009.0,96.5,
1272,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,97.95,97,,1.0,2010.0,97.95,97
1273,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,100,97,,2.0,2010.0,98.92,97
1274,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,100,97,,3.0,2010.0,99.29,97
1275,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,100,97,,4.0,2010.0,99.47,97
1276,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,100,97,,5.0,2010.0,99.58,97
1277,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,91.21,97,,6.0,2010.0,98.19,97
1278,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,100,97,,7.0,2010.0,98.46,97
1279,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,100,97,,8.0,2010.0,98.69,97
1280,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,95.2,97,,9.0,2010.0,98.3,97
1281,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,90.91,97,,10.0,2010.0,97.55,97
1282,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,96.67,97,,11.0,2010.0,97.47,97
1283,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,90.03,97,,12.0,2010.0,96.84,97
1284,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,100,97,,1.0,2011.0,100,97
1285,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,100,97,,2.0,2011.0,100,97
1286,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,97.07,97,,3.0,2011.0,98.86,97
1287,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,98.18,97,,4.0,2011.0,98.76,97
1288,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,79.18,97,,5.0,2011.0,90.91,97
1289,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,,97,,6.0,2011.0,,97
1290,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,,97,,7.0,2011.0,,97
1291,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,,97,,8.0,2011.0,,97
1292,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,,97,,9.0,2011.0,,97
1293,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,,97,,10.0,2011.0,,97
1294,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,,97,,11.0,2011.0,,97
1295,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,,97,,12.0,2011.0,,97

In [256]:
from StringIO import StringIO

In [258]:
tag = '<a href="http://www.google.com">Google</a>'

In [259]:
root = objectify.parse(StringIO(tag)).getroot()

In [260]:
root

In [261]:
root.get('href')

'http://www.google.com'

In [262]:
root.text

'Google'

### 二进制数据格式

####  实现数据的二进制格式存储最简单的办法之一是使用Python内置的pickle序列化。pandas对象都有一个用于将数据以pickle形式保存到磁盘上的save方法

In [263]:
frame = pd.read_csv('ch06/ex1.csv')

In [264]:
frame

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [265]:
frame.save('ch06/frame_pickle')

AttributeError: 'DataFrame' object has no attribute 'save'

### 使用HDF5格式

####  1. c库，有多重语言接口
####  2. HDF指的是层次型数据格式（hierarchical data format）
####  3. 每个HDF5文件都含有一个文件系统式的节点结构，能存储多个数据集并支持元数据
####  4. 支持多重压缩器的及时压缩，还能更高效地存储重复模式数据
####  5. 对于非常大的无法直接放入内存的数据集，HDF5支持有效地分块读写

#### Python中HDF5有两个接口（即PyTables和h5py）

In [266]:
store = pd.HDFStore('mydata.h5')

In [267]:
store['obj1'] = frame

In [268]:
store['obj1_col'] = frame['a']

In [269]:
store

<class 'pandas.io.pytables.HDFStore'>
File path: mydata.h5
/obj1                frame        (shape->[3,5])
/obj1_col            series       (shape->[3])

In [270]:
store['obj1']

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

#### HDF5不是数据库，适合一次写多次读的数据集

### 读取Excel文件

####  pandas的ExcelFile类支持读取存储在Excel 2003或更高版本的表格型数据，用到的包为：ExcelFile用到了xlrd和openpyxl包

In [273]:
xls_file = pd.ExcelFile('data.xls')

In [274]:
table = xls_file.parse('Sheet1')

In [275]:
table

    name  age
0  text1   12
1  test2   23
2   deqw   13
3   qweq    3

### 使用HTML和Web API

In [276]:
import requests

In [277]:
url = 'http://search.twitter.com/search.json?q=python%20pandas'

In [278]:
resp = requests.get(url)

ConnectionError: HTTPConnectionPool(host='search.twitter.com', port=80): Max retries exceeded with url: /search.json?q=python%20pandas (Caused by NewConnectionError('<requests.packages.urllib3.connection.HTTPConnection object at 0x000000000A3DA390>: Failed to establish a new connection: [Errno 10060] ',))

### 使用数据库

In [279]:
import sqlite3

In [280]:
query = """
    CREATE TABLE test (a VARCHAR(20), b VARCHAR(20), c REAL, d INTEGER);
"""
con = sqlite3.connect(':memory:')
con.execute(query)
con.commit()

In [281]:
data = [('Atlanta', 'Georgia', 1.25, 6),
       ('Tallahassee', 'Florida', 2.6, 3),
       ('Sacramento', 'California', 1.7, 5)]

In [282]:
stmt = "INSERT INTO test VALUES(?, ?, ?, ?)"

con.executemany(stmt, data)
con.commit()

In [283]:
cursor = con.execute('select * from test')

In [284]:
rows = cursor.fetchall()

In [285]:
rows

[(u'Atlanta', u'Georgia', 1.25, 6),
 (u'Tallahassee', u'Florida', 2.6, 3),
 (u'Sacramento', u'California', 1.7, 5)]

In [286]:
# 可以将这个元祖列表穿个DataFrame的构造器，但是还需要列名（位于游标的description属性中）
cursor.description

(('a', None, None, None, None, None, None),
 ('b', None, None, None, None, None, None),
 ('c', None, None, None, None, None, None),
 ('d', None, None, None, None, None, None))

In [289]:
frame3 = DataFrame(rows, columns = zip(*cursor.description)[0])

In [290]:
frame3

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5

In [303]:
import pandas.io.sql as psql

In [310]:
# sql.read_frame('select * frame test')改为
s = psql.read_sql_query('select * from test', con)

In [311]:
s

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5